<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Design</title>
</head>
<body>
    <section id="testimonies" class="py-20 bg-slate-900">
        <div class="max-w-6xl mx-8 md:mx-10 lg:mx-20 xl:mx-auto">
    
    
            <div class="transition duration-500 ease-in-out transform scale-100 translate-x-0 translate-y-0 opacity-100">
                <div class="mb-12 space-y-5 md:mb-16 md:text-center">
                    <div
                        class="inline-block px-3 py-1 text-sm font-semibold text-indigo-100 rounded-lg md:text-center text-cn bg-[#202c47] bg-opacity-60 hover:cursor-pointer hover:bg-opacity-40">
                        Words from Others
                    </div>
                    <h1 class="mb-5 text-3xl font-semibold text-white md:text-center md:text-5xl">
                        It's not just us.
                    </h1>
                    <p class="text-xl text-gray-100 md:text-center md:text-2xl">
                        Here's what others have to say about us.
                    </p>
                </div>
            </div>
    
    
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
    
    
                <ul class="space-y-8">
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div>
                            <a href="https://twitter.com/kanyewest" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Kanye West">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Kanye West</h3>
                                            <p class="text-gray-500 text-md">Rapper &amp; Entrepreneur</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Find God.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/tim_cook" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1535420431766671360/Pwq-1eJc_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Tim Cook">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Tim Cook</h3>
                                            <p class="text-gray-500 text-md">CEO of Apple</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Diam quis enim lobortis scelerisque
                                        fermentum dui faucibus in ornare. Donec pretium vulputate sapien nec sagittis
                                        aliquam malesuada bibendum.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/kanyewest" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Kanye West">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Kanye West</h3>
                                            <p class="text-gray-500 text-md">Rapper &amp; Entrepreneur</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Find God.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/tim_cook" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1535420431766671360/Pwq-1eJc_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Tim Cook">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Tim Cook</h3>
                                            <p class="text-gray-500 text-md">CEO of Apple</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Diam quis enim lobortis scelerisque
                                        fermentum dui faucibus in ornare. Donec pretium vulputate sapien nec sagittis
                                        aliquam malesuada bibendum.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
    
    
                <ul class="hidden space-y-8 sm:block">
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/paraga" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1375285353146327052/y6jeByyD_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Parag Agrawal">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Parag Agrawal</h3>
                                            <p class="text-gray-500 text-md">CEO of Twitter</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Enim neque volutpat ac tincidunt vitae
                                        semper. Mattis aliquam faucibus purus in massa tempor. Neque vitae tempus quam
                                        pellentesque nec. Turpis cursus in hac habitasse platea dictumst.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/tim_cook" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1535420431766671360/Pwq-1eJc_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Tim Cook">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Tim Cook</h3>
                                            <p class="text-gray-500 text-md">CEO of Apple</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Diam quis enim lobortis scelerisque
                                        fermentum dui faucibus in ornare. Donec pretium vulputate sapien nec sagittis
                                        aliquam malesuada bibendum.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/paraga" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1375285353146327052/y6jeByyD_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Parag Agrawal">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Parag Agrawal</h3>
                                            <p class="text-gray-500 text-md">CEO of Twitter</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Enim neque volutpat ac tincidunt vitae
                                        semper. Mattis aliquam faucibus purus in massa tempor. Neque vitae tempus quam
                                        pellentesque nec. Turpis cursus in hac habitasse platea dictumst.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/tim_cook" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1535420431766671360/Pwq-1eJc_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Tim Cook">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Tim Cook</h3>
                                            <p class="text-gray-500 text-md">CEO of Apple</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Diam quis enim lobortis scelerisque
                                        fermentum dui faucibus in ornare. Donec pretium vulputate sapien nec sagittis
                                        aliquam malesuada bibendum.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
    
    
                <ul class="hidden space-y-8 lg:block">
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/satyanadella" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1221837516816306177/_Ld4un5A_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Satya Nadella">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Satya Nadella</h3>
                                            <p class="text-gray-500 text-md">CEO of Microsoft</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Tortor dignissim convallis aenean et
                                        tortor at. At ultrices mi tempus imperdiet nulla malesuada. Id cursus metus aliquam
                                        eleifend mi. Quis ipsum suspendisse ultrices gravida dictum fusce ut.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/dan_schulman" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/516916920482672641/3jCeLgFb_400x400.jpeg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Dan Schulman">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Dan Schulman</h3>
                                            <p class="text-gray-500 text-md">CEO of PayPal</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Quam pellentesque nec nam aliquam sem
                                        et tortor consequat id. Enim sit amet venenatis urna cursus.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/satyanadella" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/1221837516816306177/_Ld4un5A_400x400.jpg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Satya Nadella">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Satya Nadella</h3>
                                            <p class="text-gray-500 text-md">CEO of Microsoft</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Tortor dignissim convallis aenean et
                                        tortor at. At ultrices mi tempus imperdiet nulla malesuada. Id cursus metus aliquam
                                        eleifend mi. Quis ipsum suspendisse ultrices gravida dictum fusce ut.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="text-sm leading-6">
                        <div class="relative group">
                            <div
                                class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                            </div><a href="https://twitter.com/dan_schulman" class="cursor-pointer">
                                <div
                                    class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                                    <div class="flex items-center space-x-4"><img
                                            src="https://pbs.twimg.com/profile_images/516916920482672641/3jCeLgFb_400x400.jpeg"
                                            class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Dan Schulman">
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Dan Schulman</h3>
                                            <p class="text-gray-500 text-md">CEO of PayPal</p>
                                        </div>
                                    </div>
                                    <p class="leading-normal text-gray-300 text-md">Quam pellentesque nec nam aliquam sem
                                        et tortor consequat id. Enim sit amet venenatis urna cursus.</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
    
    
            </div>
        </div>
    </section>

    <div class="container mx-auto max-w-6xl p-4 text-gray-600 font-serif">
        <h3 class="text-gray-800 py-6 text-3xl text-center font-bold">Popular Tweets</h3>
        <div class="md:columns-2 lg:columns-3 gap-6 p-4 sm:p-1 mt-2">
    
            
            <div class="animate-in zoom-in duration-200">
                <div
                    class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                    <div class="flex flex-col break-inside-avoid-page z-0 relative">
                        <div class="flex justify-between">
                            <div class="flex space-x-6">
                                <div class="flex space-x-4 flex-shrink-0 w-52">
                                    <img src="https://randomuser.me/api/portraits/men/51.jpg"
                                        class="w-10 h-10 rounded-full">
                                    <div>
                                        <div class="font-semibold">
                                            Salvador Rose
                                        </div>
                                        <div class="text-sm">
                                            Salvador
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </a>
                    </div>
                </div>
            </div>
    
    
    
            <div class="animate-in zoom-in duration-200">
                <div
                    class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                    <div class="flex flex-col break-inside-avoid-page z-0 relative">
                        <div class="flex justify-between">
                            <div class="flex space-x-6">
                                <div class="flex space-x-4 flex-shrink-0 w-52">
                                    <img src="https://randomuser.me/api/portraits/men/34.jpg"
                                        class="w-10 h-10 rounded-full">
                                    <div>
                                        <div class="font-semibold">
                                            John doe
                                        </div>
                                        <div class="text-sm">
                                            John
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <a href="@" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</span>
                        </a>
                    </div>
                </div>
            </div>
    
    
    
            <div class="animate-in zoom-in duration-200">
                <div
                    class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                    <div class="flex flex-col break-inside-avoid-page z-0 relative">
                        <div class="flex justify-between">
                            <div class="flex space-x-6">
                                <div class="flex space-x-4 flex-shrink-0 w-52">
                                    <img src="https://randomuser.me/api/portraits/men/78.jpg"
                                        class="w-10 h-10 rounded-full">
                                    <div>
                                        <div class="font-semibold">
                                            Mike tyson
                                        </div>
                                        <div class="text-sm">
                                            mike
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <a href="" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.
                            </span>
                        </a>
                    </div>
                </div>
            </div>
    
    
    
            <div class="animate-in zoom-in duration-200">
                <div
                    class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                    <div class="flex flex-col break-inside-avoid-page z-0 relative">
                        <div class="flex justify-between">
                            <div class="flex space-x-6">
                                <div class="flex space-x-4 flex-shrink-0 w-52">
                                    <img src="https://randomuser.me/api/portraits/women/51.jpg"
                                        class="w-10 h-10 rounded-full">
                                    <div>
                                        <div class="font-semibold">
                                            Sia
                                        </div>
                                        <div class="text-sm">
                                            Sia
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </span>
                        </a>
                    </div>
                </div>
            </div>
    
    
    
    
            <div class="animate-in zoom-in duration-200">
                <div
                    class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                    <div class="flex flex-col break-inside-avoid-page z-0 relative">
                        <div class="flex justify-between">
                            <div class="flex space-x-6">
                                <div class="flex space-x-4 flex-shrink-0 w-52">
                                    <img src="https://randomuser.me/api/portraits/men/34.jpg"
                                        class="w-10 h-10 rounded-full">
                                    <div>
                                        <div class="font-semibold">
                                            Cheung
                                        </div>
                                        <div class="text-sm">
                                            Cheung
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <a href="" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </span>
                        </a>
                    </div>
                </div>
            </div>
    
    
    
    
            <div class="animate-in zoom-in duration-200">
                <div
                    class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                    <div class="flex flex-col break-inside-avoid-page z-0 relative">
                        <div class="flex justify-between">
                            <div class="flex space-x-6">
                                <div class="flex space-x-4 flex-shrink-0 w-52">
                                    <img src="https://randomuser.me/api/portraits/women/8.jpg"
                                        class="w-10 h-10 rounded-full">
                                    <div>
                                        <div class="font-semibold">
                                            Kendra
                                        </div>
                                        <div class="text-sm">
                                            Kendra
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                            <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </span>
                        </a>
                    </div>
                </div>
            </div>
    
    
    
    
    
            <div class="animate-in zoom-in duration-200">
                <div
                    class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                    <div class="flex flex-col break-inside-avoid-page z-0 relative">
                        <div class="flex justify-between">
                            <div class="flex space-x-6">
                                <div class="flex space-x-4 flex-shrink-0 w-52">
                                    <img src="https://randomuser.me/api/portraits/men/5.jpg"
                                        class="w-10 h-10 rounded-full">
                                    <div>
                                        <div class="font-semibold">
                                            King
                                        </div>
                                        <div class="text-sm">
                                            king
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                            <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </span>
                        </a>
                    </div>
                </div>
            </div>
    
    
    
    
            <div class="animate-in zoom-in duration-200">
                <div
                    class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                    <div class="flex flex-col break-inside-avoid-page z-0 relative">
                        <div class="flex justify-between">
                            <div class="flex space-x-6">
                                <div class="flex space-x-4 flex-shrink-0 w-52">
                                    <img src="https://randomuser.me/api/portraits/men/50.jpg"
                                        class="w-10 h-10 rounded-full">
                                    <div>
                                        <div class="font-semibold">
                                            Yoda
                                        </div>
                                        <div class="text-sm">
                                            yoda
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                            <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </span>
                        </a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <section class="font-serif">
        <div class="container mx-auto my-20 px-20">
             <div class="w-full h-[500px] bg-cover bg-center bg-no-repeat relative" style="background-image: url('/assets/images/sone.jpg');">

                <div class=" ">
                    <!-- logo and navigation  -->
                    <div class="flex flex-row justify-between items-center px-10 w-full opacity-80 backdrop-filter backdrop-blur-lg bg-transparent border-b border-b-gray-300">
                        <div class="w-max">
                            <img class="w-full" src="assets/images/logoship.png" alt="">
                        </div>
                        <div class="flex flex-row justify-between items-center space-x-5 font-medium transition-all duration-300 text-white text-xs ">
                            <div class="hover:text-gray-900">Forms</div>
                            <div class="hover:text-gray-900">Gallary</div>
                            <div class="hover:text-gray-900">Contact</div>
                        </div>
                        <button class="px-10 bg-white rounded py-2 text-xs text-gray-700">Contact</button>
                    </div>
                </div>
                <div class="px-10 py-20 flex flex-col h-full justify-between">
                    <div class="grid grid-cols-2">
                        <div class="flex items-start">
                            <div class="col-span-1 text-left w-full pr-10 pb-5">
                                <h4 class="text-white text-sm">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </h4>
                                <h1 class="text-5xl text-white font-semibold uppercase">Be Legendary</h1>
                            </div>
                        </div>
                        <!-- right side text  -->
                         <div class="col-span-1 w-full flex items-start justify-center pl-24">
                            <div class="">
                                <h4 class="text-white pb-5 text-sm">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </h4>
                                <button class="px-10 bg-green-200 rounded py-2 text-sm text-gray-700">Explore now</button>
                            </div>
                         </div>
                    </div>

                    <div class="place-items-end pt-20">
                        <div class="flex flex-row space-x-1  bg-white px-3 py-2 items-center justify-between rounded-xl shadow-lg w-max">
                            <img  class="h-3 w-3" src="assets/images/facebook_104643.png" alt="">
                            <img  class="h-3 w-3" src="assets/images/facebook_104643.png" alt="">
                            <img  class="h-3 w-3" src="assets/images/facebook_104643.png" alt="">
                        </div>
                    </div>
                </div>
             </div>
             <!-- About part start  -->
             <div class="grid grid-cols-4 gap-x-10 w-full p-12 bg-[#044B4A]">
                <div class="col-span-2 pr-20">
                    <h2 class="text-4xl uppercase text-white pb-5">About us</h2>
                    <h4 class="text-sm text-white leading-tight">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </h4>
                </div>
                <div class="col-span-2 flex flex-row space-x-3 w-full h-full">
                    <div class="flex flex-col items-start justify-between h-full border rounded-md p-3">
                        <div class="flex flex-col">
                            <img class="w-32" src="assets/images/sthree.jpg" alt="">
                        <h3 class="text-white text-2xl font-medium uppercase">schedule</h3>
                        <h4 class="text-white text-xs font-light">a sea trial</h4>
                        </div>
                        <button class="px-3 bg-green-200 rounded py-1 text-xs text-gray-700">Book now</button>
                    </div>
                    <img class="rounded-lg h-full w-full" src="assets/images/sfour.jpg" alt="">
                </div>

             </div>
             <!-- About part start  -->
             <!-- our boats part start  -->
              <div class="bg-white py-10">
                  <div class="flex flex-col items-center justify-center pt-5 pb-32 px-10 ">
                     <h3 class="text-gray-800 text-5xl tracking-tighter">Our Boats </h3>
                     <h4 class="pt-5 w-3/5 text-center text-xs text-gray-500">
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet
                     </h4>
                  </div>

                  <div class="">
                    <div class="grid grid-cols-2 w-full gap-x-5 px-10">
                            <div class="col-span-1 rounded-2xl p-8 w-full relative bg-[#E6F4F5]" >
                                <img class="absolute w-full -left-5 -top-28 -right-24" src="assets/images/rtwo.png" alt="">
                                <div class="pt-16">
                                    <h4 class="text-sm uppercase text-gray-500">Model: <span class="text-lg text-gray-800">35-m series</span></h4>
                                    <button class="px-3 bg-green-200 rounded py-1 text-[10px] text-gray-700">Book now</button>

                                </div>
                            </div>

                            <div class="col-span-1 rounded-2xl p-8 w-full relative bg-[#E6F4F5]" >
                                <img class="absolute w-full -left-5 -top-28 -right-24" src="assets/images/rone.png" alt="">
                                <div class="pt-16">
                                    <h4 class="text-sm uppercase text-gray-500">Model: <span class="text-lg text-gray-800">37-y series</span></h4>
                                    <button class="px-3 bg-green-200 rounded py-1 text-[10px] text-gray-700">Book now</button>

                                </div>
                            </div>
                    </div>
                  </div>

                  <div class="py-20 px-10">
                    <div class="grid grid-cols-2 gap-x-5">
                        <div class="col-span-1 w-full">
                            <div class=" ">
                                <iframe class="w-full aspect-video rounded-2xl outline-none" src="https://www.youtube.com/embed/Cpy4cJzTqr8?si=M6Dk0gg9m4HkwxYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="col-span-1 w-full p-5 flex flex-col space-y-5 items-start justify-between">
                                <h3 class="text-5xl text-gray-800 uppercase font-semibold">
                                    Gallary
                                </h3>

                                <h4 class="text-left text-xs text-gray-500 capitalize">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </h4>

                                <button class="px-3 bg-green-200 rounded py-1 text-xs text-gray-700">Open Page</button>

                        </div>
                    </div>
                  </div>

                  <!-- See trial part  -->
                   <div class="">
                    <div class="flex flex-row items-start justify-start px-10 pb-10 space-x-10">
                        <h3 class="text-gray-800 text-5xl tracking-tighter uppercase">See trial</h3>
                        <h4 class="pt-2 text-center text-xs text-gray-500">
                            Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.
                        </h4>
                     </div>

                     <div class="grid grid-cols-2 px-10 gap-x-5">
                        <div class="col-span-1">
                                  <!-- contact form  -->

                        <div class="w-full bg-white rounded-3xl">
                            <div class="p-10 bg-[#d2e7eb] rounded-3xl w-full">
                                <div class="text-lg text-gray-950 font-semibold ">Contact Form</div>
                                <div class="text-[10px] text-gray-500 font-normal pb-3 capitalize">Please Fill out the form and we will get back to yoy shortly</div>

                                <!-- input option  -->
                                <form class="flex flex-col gap-y-3">
                                    <input type="text" placeholder="Name" class="placeholder:text-gray-500 text-gray-500 px-3 py-[6px] bg-white outline-none text-[10px] rounded-md w-full">
                                    <input type="text" placeholder="Email" class="placeholder:text-gray-500 text-gray-500 px-3 py-[6px] bg-white outline-none text-[10px] rounded-md w-full">
                                    <input type="text" placeholder="Phone" class="placeholder:text-gray-500 text-gray-500 px-3 py-[6px] bg-white outline-none text-[10px] rounded-md w-full">
                                </form>
                                <div class="mt-3">
                                    <h4 class="text-xs font-medium pb-1 text-gray-950">S.MORE</h4>
                                    <div class="flex flex-row justify-between items-center ">
                                        <div class="">
                                            <input type="text" class="text-gray-500 px-3 py-2 bg-white outline-none text-[10px] rounded-md w-28">
                                        </div>
                                        <button class="bg-[#155a5a] rounded-md px-5 py-2 text-[10px] text-gray-300">
                                            submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- contact form  -->
                        </div>

                        <div class="col-span-1 w-full h-full rounded-3xl ">
                            <img class="w-full h-full rounded-3xl" src="assets/images/ssix.jpg" alt="">
                        </div>
                     </div>
                   </div>
              </div>
             <!-- our boats part start  -->

        </div>
    </section>
</body>
</html>
