<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product One</title>
</head>
<body class="font-serif">
    <div class="container mx-auto px-32 my-10 ">
        <div class="bg-white mb-1">
                    <!-- upper part start  -->
        <div class="">
            <div class="flex flex-row justify-between items-center px-10 w-full py-2">
                <!-- left side  -->
                <div class="flex items-center">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-2 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                          </svg>
                          
                    </div>
                    <div class="text-gray-500 capitalize pl-1 text-[9px]">Download mobile app</div>
                </div>
                <!-- left side  end-->
                 <!-- right side start  -->
                 <div class="flex items-center justify-end capitalize text-[9px]">
                    <div class="text-gray-500 pr-3">More belibeli</div>
                    <div class="text-gray-500 pr-3">About belibeli</div>
                    <div class="text-gray-500 pr-3">belibeli care</div>
                    <div class="text-gray-500 pr-3">promo</div>
                    <div class="text-gray-800 px-3 border-l font-medium">sign Up</div>
                    <div class="text-gray-800 pl-3 border-l font-medium">Login</div>
                 </div>
                 <!-- right side start  -->
            </div>
            <div class="flex flex-row justify-between items-center py-[6px] border-y px-10 p">
                <div class="w-max text-[#434950] font-semibold">RAWA.com</div>
                <!-- Search part start  -->
                <div class="rounded border  flex-1 mx-5">
                    <div class="flex items-center">
                        <div class="px-3 w-28 flex items-center justify-between text-[11px] border-r py-2">
                            <h4 class="text-gray-500">All Category</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 text-gray-500">
                                <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                              </svg>
                              
                        </div>
                        <!-- Form part  -->
                        <form class="text-left flex">
                            <div class="flex items-center relative w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 absolute ml-3 text-gray-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                                  </svg>
                                  
                                <input class="flex-1 pl-9 pr-3 py-[6px] placeholder:text-[10px] text-gray-600 text-[11px] w-full outline-none" type="text" placeholder="Search Product and brand here">
                            </div>
                        </form>
                        <!-- Form part end  -->
                    </div>
                </div>
                <!-- Search part end  -->

                <!-- cart and notification part  -->
                <div class="flex justify-between items-center space-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 text-gray-500">
                        <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z" clip-rule="evenodd" />
                      </svg>
                      
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 text-gray-500">
                        <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z" clip-rule="evenodd" />
                      </svg>
                      
                </div>
                <!-- cart and notification part  -->

            </div>
        </div>
        <!-- upper part end  -->
         <!-- Product part  -->
          <div class="px-10 py-5 bg-white">
            <div class="text-[11px] text-gray-500">Home / Product / <span class="text-gray-800 font-medium tracking-wider">This ben hagan men's Gold polo shirt</span></div>

            <div class="grid grid-cols-5 h-max my-3 space-x-6">
                <div class="col-span-3 h-max w-full flex flex-col gap-y-3">
                    <div class="w-full flex flex-row gap-x-3 h-min">
                    <!-- column item side things  -->
                    <div class="flex flex-col space-y-2 ">
                        <div class="w-16 bg-[#D0D3DA] rounded-xl border-2 border-gray-950">
                            <img class="w-full h-16" src="assets/images/t-one.png" alt="">
                        </div>
                        <div class="w-16 bg-[#D0D3DA] rounded-xl border-2 border-[#D0D3DA] hover:border-gray-950">
                            <img class="w-full h-16" src="assets/images/t-one.png" alt="">
                        </div>
                        <div class="w-16 bg-[#D0D3DA] rounded-xl border-2 border-[#D0D3DA] hover:border-gray-950">
                            <img class="w-full h-16" src="assets/images/t-one.png" alt="">
                        </div>
                        <div class="w-16 bg-[#D0D3DA] rounded-xl border-2 border-[#D0D3DA] hover:border-gray-950">
                            <img class="w-full h-16" src="assets/images/t-one.png" alt="">
                        </div>
                        
                     </div>
                     <!-- main items picture  -->
                    <div class="col-span-9 w-full h-[300px] bg-[#D0D3DA] rounded-2xl">
                        <img class="w-full h-[300px]" src="assets/images/t-one.png" alt="">
                    </div>                        
                    </div>
                    <div class="w-full rounded border p-3">
                        <div class="flex items-center justify-between w-full">
                            <div class="w-full flex items-center">
                                <div class="rounded-full flex items-center justify-center text-[12px] mr-2 font-semibold px-3 py-[7px] text-[#1D242D] bg-gray-100">B</div>
                                <div class="">
                                        <h4 class="text-[10px] text-[#1D242D] font-semibold">Burdad Disaster Mall</h4>
                                    <h4 class="text-[10px] text-green-500 font-medium">Online</h4>
                                </div>
                            </div>
                            <div class="flex items-center justify-end space-x-3 w-full">
                                <div class="rounded-md w-full flex items-center justify-center border border-gray-500 px-3 py-[2px] text-[10px] text-gray-500">Follow</div>
                                <div class="rounded-md w-full flex items-center justify-center border border-gray-500 px-3 py-[2px] text-[10px] text-gray-500">Visit Store</div>
                            </div>
                        </div>
                        <div class="flex space-x-5 items-center justify-between pt-2">
                            <div class="flex items-center w-full justify-center space-x-1 text-[10px]">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-gray-600">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                                  </svg>
                                  <h4 class="text-gray-400">Ratings Store :</h4>
                                  <h4 class="text-gray-700">96%</h4>
                            </div>
                            <div class="flex items-center w-full justify-center space-x-1 text-[10px]">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 text-gray-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                                  </svg>
                                  
                                  <h4 class="text-gray-400">Location store:</h4>
                                  <h4 class="text-gray-700">Dhaka</h4>
                            </div>
                            <div class="flex items-center w-full justify-center space-x-1 text-[10px]">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 text-gray-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                                  </svg>
                                  
                                  <h4 class="text-gray-400">Chat Reply :</h4>
                                  <h4 class="text-gray-700">96%</h4>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- right side details  -->
                <div class="col-span-2 h-max px-2 flex flex-col space-y-2">
                    <div class="flex flex-col">
                    <div class="text-[#292C2F] text-xl font-medium capitalize pb-[6px]">
                        This ben hogan men's solid Ottoman golf polo shirt 
                    </div>
                    <div class="flex items-center leading-tight">
                        <div class="text-[10px] text-[#292C2F] font-medium">10k+ solid</div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                            <rect width="10" height="10" x="3" y="3" rx="1.5" />
                          </svg>
                          
                        <div class="flex items-center space-x-[3px]">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-2 text-[#F7B047]">
                                <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-2 text-[#F7B047]">
                                <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-2 text-[#F7B047]">
                                <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-2 text-[#F7B047]">
                                <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-2 text-[#F7B047]">
                                <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                              </svg>
                        <div class="text-[10px] font-medium text-[#292C2F]">4.8k</div>
                              
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                            <rect width="10" height="10" x="3" y="3" rx="1.5" />
                          </svg>
                        <div class="text-[10px] font-medium text-[#292C2F]">108 Reviews</div>
                    </div>
                    <div class="my-2 leading-tight">
                        <h4 class="text-xl font-medium text-[#292C2F]">Tk 355.00</h4>
                        <div class="text-[10px] font-medium capitalize"><span class="text-[#F47F94]">tk475</span> <span class="text-[#20A373] ml-2">25% Off</span></div>
                    </div>
                    <div class="flex items-center justify-start my-2">
                        <div class="w-8 bg-[#D0D3DA] rounded-md border-2 border-gray-950">
                            <img class="w-full h-8" src="assets/images/t-one.png" alt="">
                        </div>
                        <div class="w-8 bg-white ml-2">
                            <img class="w-full h-8 rounded-md border-2 border-gray-600" src="assets/images/t-two.jpg" alt="">
                        </div>
                    </div>
                    <!-- size guide  -->
                     <div class="pt-2 w-full">
                        <div class="flex items-center justify-between text-[10px] font-medium">
                            <div class="text-[#111822]">Select Size</div>
                            <div class="text-gray-500">Size guide</div>
                        </div>
                        <div class="flex items-center justify-start space-x-3 pt-2 text-[7.5px]">
                            <div class="text-[#111822] px-[10px] rounded-sm py-[2px] border flex items-center justify-center">S</div>
                            <div class="text-white px-[10px] rounded-sm py-[2px] bg-[#111822] flex items-center justify-center">M</div>
                            <div class="text-[#111822] px-[10px] rounded-sm py-[2px] border flex items-center justify-center">L</div>
                            <div class="text-[#111822] px-[10px] rounded-sm py-[2px] border flex items-center justify-center">XL</div>
                            <div class="text-[#111822] px-[10px] rounded-sm py-[2px] bg-gray-100 border flex items-center justify-center">2XL</div>
                            <div class="text-[#111822] px-[10px] rounded-sm py-[2px] bg-gray-100 border flex items-center justify-center">3XL</div>
                        </div>
                        <div class="mt-5 space-y-3">
                            <div class="w-full py-[8px] text-white bg-[#1D242D] hover:bg-white hover:text-[#111822] border border-[#1D242D] hover:border transition-all duration-300 text-[11px] flex items-center justify-center rounded-md">Buy this item</div>
                            <div class="w-full py-[8px] text-[#111822] bg-white hover:bg-[#1D242D] hover:text-white transition-all duration-300 border hover:border-[#1D242D] text-[11px] flex items-center justify-center rounded-md">Add to Bag</div>
                        </div>
                        <div class="flex w-full items-center justify-between text-[10px] pt-3">
                            <div class="flex w-full space-x-3 items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-gray-500">
                                    <path fill-rule="evenodd" d="M1 8.74c0 .983.713 1.825 1.69 1.943.764.092 1.534.164 2.31.216v2.351a.75.75 0 0 0 1.28.53l2.51-2.51c.182-.181.427-.286.684-.294a44.298 44.298 0 0 0 3.837-.293C14.287 10.565 15 9.723 15 8.74V4.26c0-.983-.713-1.825-1.69-1.943a44.447 44.447 0 0 0-10.62 0C1.712 2.435 1 3.277 1 4.26v4.482ZM5.5 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm2.5 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm3.5 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
                                  </svg>
                                  <h4 class="text-gray-800">Chat</h4>
                            </div>

                            <div class="flex w-full space-x-3 items-center justify-center border-x">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                  </svg>
                                  <h4 class="text-gray-800">Wishlist</h4>
                                  
                            </div>

                            <div class="flex w-full space-x-3 items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                                  </svg>
                                  <h4 class="text-gray-800">Share</h4>
                            </div>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
          </div>
         <!-- Product part end -->
        </div>
        <!-- Description part start  -->

        <div class="bg-white pb-5">
            <div class="flex items-center justify-between w-full py-3 px-10">
                <div class="flex items-center justify-start space-x-3 w-full">
                    <div class="rounded-md w-full flex items-center justify-center py-[6px] bg-[#1D242D] px-3 text-[9px] text-white">Description</div>
                    <div class="rounded-md w-full flex items-center justify-center py-[6px] border border-gray-400 px-3 text-[9px] text-gray-600">Styling Ideas</div>
                    <div class="rounded-md w-full flex items-center justify-center py-[6px] border border-gray-400 px-3 text-[9px] text-gray-600">Review</div>
                    <div class="rounded-md w-full flex items-center justify-center py-[6px] border border-gray-400 px-3 text-[9px] text-gray-600">Best Seller</div>
                </div>
                <div class="w-full">
                    <div class="flex w-full space-x-1 items-center justify-end text-[10px]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                          </svg>
                          
                          <h4 class="text-gray-800">Wishlist</h4>
                          
                    </div>
                </div>
             </div>

             <!-- Product Details part  -->
              <div class="px-10 pb-5">
                <div class="py-3 text-left">
                    <h4 class="text-lg text-[#151922] font-medium">Product Details</h4>
                </div>
                <div class="text-gray-600 text-[11px]">
                    Product Details This Ben Hogan Men's Solid Ottoman Golf Polo Shirt makes for versatile casual wear or golf apparel. Built-in moisture wicking and sun protection keep you feeling dry while blocking out harmful UV rays. Durable textured Ottoman fabric and a ribbed collar with three-button placket give it classic polo style. The solid color makes this golf top easy to pair up with any pants or shorts for style that looks great both on and off the course.
                </div>
                <div class="pt-2">
                    <div class="flex items-center">
                        <div class="text-gray-600 w-[110px] text-[11px]">Package Dimensions</div>
                        <div class="text-gray-600 px-2 text-[11px] font-semibold">:</div>
                        <div class="text-[#151922] font-medium text-[10px]">27.3 x 24.8 x 4.9 cm; 180 g</div>
                    </div>
                    <div class="flex items-center">
                        <div class="text-gray-600 w-[110px] text-[11px]"> Specification</div>
                        <div class="text-gray-600 px-2 text-[11px] font-semibold">:</div>
                        <div class="text-[#151922] font-medium text-[10px]">Moisture Wicking, Stretchy, SPF/UV Protection, Easy Care</div>
                    </div>
                    <div class="flex items-center">
                        <div class="text-gray-600 w-[110px] text-[11px]">Date First Available</div>
                        <div class="text-gray-600 px-2 text-[11px] font-semibold">:</div>
                        <div class="text-[#151922] font-medium text-[10px]">August 08, 2023</div>
                    </div>
                    <div class="flex items-center">
                        <div class="text-gray-600 w-[110px] text-[11px]">Department</div>
                        <div class="text-gray-600 px-2 text-[11px] font-semibold">:</div>
                        <div class="text-[#151922] font-medium text-[10px]">Mens</div>
                    </div>
                </div>
              </div>

              <!-- Styling Ideas part  -->
               <div class="pr-10">
                <div class="pl-10 bg-[#F3F4F4]  rounded-r-xl ">
                    <div class="grid grid-cols-5 ">
                        <div class="col-span-4 border-r pr-5 w-full pb-5">
                            <div class="flex items-center justify-between pt-5 pb-3">
                                <h4 class="text-[#151922] text-base font-semibold">Styling Ideas</h4>
                                <h4 class="text-gray-600 text-xs">See More</h4>
                            </div>
                            <div class="flex flex-row items-center justify-between w-full rounded-2xl bg-gra">

                                <div class="bg-gray-400 p-2 rounded-xl">
                                    <img class="w-[160px] h-36" src="assets/images/t-one.png" alt="">
                                </div>

                                <div class="text-xl mx-3 font-medium text-white bg-[#151922] px-[12px] py-[4px] rounded-full">+</div>

                                <!-- Matching Product  -->

                                    <div class="grid grid-cols-3 divide-x-[1px] divide-gray-200 rounded-xl">
                                        <div class="col-span-1 h-full">
                                            <div class="bg-[#9CA3AF] p-3 w-full h-24 flex items-center justify-center ">
                                                <img class="w-24 h-24" src="assets/images/pant1.png" alt="">
                                            </div>
                                            <div class="p-1 space-y-1 bg-white">
                                                <h4 class="text-gray-500 text-[10px]">Gorgeous men's and big men's 100% cotton pant.</h4>
                                                <h4 class="text-gray-800 font-medium text-[10px]">Tk.870 </h4>
                                                <h4 class="text-red-400 font-medium text-[8px]">Tk.1045 </h4>
                                            </div>
                                        </div>
                                        <div class="col-span-1 h-full">
                                            <div class="bg-[#9CA3AF] p-3 w-full h-24 flex items-center justify-center ">
                                                <img class="w-24 h-24" src="assets/images/watch1.png" alt="">
                                            </div>
                                            <div class="p-1 space-y-1 bg-white">
                                                <h4 class="text-gray-500 text-[10px]">Gorgeous men's and big men's 100% cotton pant.</h4>
                                                <h4 class="text-gray-800 font-medium text-[10px]">Tk.870 </h4>
                                                <h4 class="text-red-400 font-medium text-[8px]">Tk.1045 </h4>
                                            </div>
                                        </div>
                                        <div class="col-span-1 h-full">
                                            <div class="bg-[#9CA3AF] p-3 w-full h-24 flex items-center justify-center ">
                                                <img class="w-24 h-24" src="assets/images/shoes1.png" alt="">
                                            </div>
                                            <div class="p-1 space-y-1 bg-white">
                                                <h4 class="text-gray-500 text-[10px]">Gorgeous men's and big men's 100% cotton pant.</h4>
                                                <h4 class="text-gray-800 font-medium text-[10px]">Tk.870 </h4>
                                                <h4 class="text-red-400 font-medium text-[8px]">Tk.1045 </h4>
                                            </div>
                                        </div>
                                     </div>

                            </div>
                        </div>

                        <!-- right part  -->
                         <div class="pb-5 col-span-1 w-full flex items-center justify-center">
                            <div class="flex flex-col p-3 items-center justify-center">
                                <h4 class="text-[9px] text-[#121B25] font-medium">Total</h4>
                                <h4 class="text-[12px] text-[#121B25] font-medium">Tk1545.00</h4>
                                <h4 class="text-[12px] text-green-500 font-medium">Save Tk380.00</h4>
                                <button class="px-3 py-1 mt-3 rounded-md bg-[#121B25] hover:bg-green-500 transition-all duration-300 text-white text-[10px] flex items-center justify-center">Add to Bag</button>
                            </div>
                         </div>
                    </div>
                </div>
               </div>
        </div>

    </div>
</body>
</html>
